@font-face {
  font-family: "PlayerIcons";
  src: url("../fonts/PlayerIcons.woff") format("woff");
}

@mixin beingplayed() {
  font-family: PlayerIcons;
  color: floralwhite;
  margin-right: 1em;
  content: "H";
}

@mixin border($width: 1px, $style: solid, $color: black) {
  border: $width $style $color;
}

@mixin borderradius($radius: .5em) {
  border-radius: $radius;
}

@mixin borderbox() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(150%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
  0%   { -moz-transform: translateX(150%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
  0%   { 
  -moz-transform: translateX(150%); /* Browser bug fix */
  -webkit-transform: translateX(150%); /* Browser bug fix */
  transform: translateX(150%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Browser bug fix */
  -webkit-transform: translateX(-100%); /* Browser bug fix */
  transform: translateX(-100%); 
  }
}