@mixin border($width: 1px, $style: solid, $color: black) {
  border: $width $style $color;
}

@mixin borderradius($radius: .5em) {
  border-radius: $radius;
}

@mixin borderbox() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  @include borderbox;
}

.container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  @include border(1px, solid, red);
  @include borderbox;
}

header {
  background-color: grey;
  @include border(1px, solid, blue);
  padding: .5em;
  height: 90px;
}

.player {
  @include border(1px, solid, green);
}

.media {
  @include border(1px, solid, purple);
}

section {
  @include border(1px, solid, yellow);
}

article {
  @include border(1px, solid, grey);
}

footer {
  p {
    margin-top: 0;
  }
}